<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Cinema Blog | Home</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main class="w-full">
            <section class="dark:bg-gray-800 dark:text-gray-100">
                <div class="container flex flex-col justify-center p-4 mx-auto sm:py-6 lg:py-8 lg:flex-row lg:justify-between lg:gap-20 xl:gap-30">
                    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-96 sm:h-104 lg:h-120 xl:h-128 2xl:h-144">
                        <img src="https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="cinema banner" class="rounded-xl object-cover h-80 sm:h-90 lg:h-100 xl:h-110 2xl:h-144">
                    </div>
                    <div class="flex flex-col justify-center p-4 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
                        <h1 class="text-4xl font-bold leading-none sm:text-4xl">Welcome to
                            <span class="text-emerald-500">Cinema blog</span>
                        </h1>
                        <p class="mt-6 mb-8 text-lg sm:mb-12">Find the latest news and feedback about cinema an tv shows !
                            <br /> Share your opinions about the posts we write
                        </p>
                        <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
                            <a rel="noopener noreferrer" href="/cinema" class="px-8 py-3 text-lg font-semibold rounded bg-emerald-500 text-gray-100 hover:bg-emerald-700">Cinema</a>
                            <a rel="noopener noreferrer" href="/tv-shows" class="px-8 py-3 text-lg font-semibold border rounded dark:border-gray-100 hover:bg-gray-200">Tv shows</a>
                        </div>
                    </div>
                </div>
            </section>
            <div class="flex flex-col items-center md:items-stretch p-10">
                <h4 class="text-2xl font-bold dark:text-white">Latest posts</h4>
                <% if (latestPosts.length === 0) {%>
                    <div class="w-full text-center mt-10">
                        <h4 class="text-2xl font-bold dark:text-white">No posts</h4>
                    </div>
                <% } else { %>
                    <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-items-center">
                        <% latestPosts.forEach(function(post) { %>
                            <%- include('../partials/postCard', {post: post}) %>
                        <% }); %>
                    </div>
                <% } %>
                <h4 class="text-2xl mt-14 font-bold dark:text-white">Cinema news</h4>
                <% if (cinemaPosts.length === 0) {%>
                    <div class="w-full text-center mt-10">
                        <h4 class="text-2xl font-bold dark:text-white">No posts</h4>
                    </div>
                <% } else { %>
                    <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-items-center">
                        <% cinemaPosts.forEach(function(post) { %>
                            <%- include('../partials/postCard', {post: post}) %>
                        <% }); %>
                    </div>
                <% } %>
                <h4 class="text-2xl mt-14 font-bold dark:text-white">TV Shows news</h4>
                <% if (tvShowPosts.length === 0) {%>
                    <div class="w-full text-center mt-10">
                        <h4 class="text-2xl font-bold dark:text-white">No posts</h4>
                    </div>
                <% } else { %>
                    <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-items-center">
                        <% tvShowPosts.forEach(function(post) { %>
                            <%- include('../partials/postCard', {post: post}) %>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        </main>
    </body>
</html>