<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head'); %>
    </head>
    <header>
        <%- include('../../partials/header'); %>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/turndown/dist/turndown.js"></script>
    </header>
    <body>
        <main class="flex justify-center">
            <div class="w-5/6 flex flex-col text-center">
                <h3 class="text-3xl font-bold dark:text-white mt-10">Edit post</h3>
                <form action="/admin/edit-post/<%= post.id %>" method="POST" class="p-10 flex flex-col items-center">
                    <div class="w-full max-w-3xl">
                        <label for="postTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Post title</label>
                        <input required value="<%= post.title %>" type="text" id="post-title" name="postTitle" placeholder="Your post title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500">
                    </div>
                    <div class="mt-9 w-full max-w-3xl">
                        <label for="banner" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Post banner</label>
                        <input required value="<%= post.banner %>" type="text" id="post-banner" name="banner" placeholder="https://___/___.jpg" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500">
                    </div>
                    <div class="mt-9 w-full  max-w-3xl">
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose a category</label>
                        <select required id="category" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500">
                            <option <% if (post.category === 'cinema') { %>selected<% } %> value="cinema">Cinema</option>
                            <option <% if (post.category === 'tvShow') { %>selected<% } %> value="tvShow">TV Shows</option>
                        </select>
                    </div>
                    <div class="mt-9 w-full max-w-3xl">
                        <div class="post-textarea"></div>
                        <textarea style="display: none" id="post-content" name="postContent"></textarea>
                    </div>
                    <div class="container mx-0 min-w-full flex flex-col items-center mt-10">
                        <button type="submit" class="w-1/3 min-w-[200px] bg-emerald-700 text-white hover:bg-emerald-900 font-bold py-2 px-4 mt-3 rounded">Edit post</button>
                    </div>
                </form>
            </div>
        </main>
        <script>
            var content = '<%- JSON.parse(JSON.stringify(post.content)) %>';
            var quill = new Quill('.post-textarea', {
                placeholder: 'Write your post...',
                theme: 'snow',
                modules: {
                    toolbar: [
                        [{ 'header': [1, 2, 3, false] }],
                        ['bold', 'italic', 'underline', 'strike', 'link'],
                    ]
                },
            });

            quill.setContents(quill.clipboard.convert(content));
        
            quill.on('text-change', function(delta, oldDelta, source) {
                document.getElementById("post-content").value = quill.container.firstChild.innerHTML;
            });
        </script>
    </body>
</html>